@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Jetbrains-Mono", sans-serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #141414;
  }
}
